@value makerLighterGrey from '../../common/color.css';
@value makerLightGrey from '../../common/color.css';
@value makerGrey from '../../common/color.css';

.section {
  margin: auto;
  padding: 50px 0;
  background-color: makerLighterGrey;
  color: makerGrey;
}

.container {
  max-width: 800px;
  margin-left: 50px;
}

.container h3 {
  margin: 12px 0;
}

.container h4 {
  margin: 4px 0;
  font-weight: normal;
  line-height: 24px;
}
